[http.middlewares]
  [http.middlewares.chain-no-auth.chain]
    middlewares = [
    "secure-headers", 
    "rate-limit",
{% if errorpages_enabled == "true" %}
    "errorpages",
{% endif %}
  ]

  [http.middlewares.chain-basic-auth.chain]
    middlewares = [
    "secure-headers",
    "rate-limit",
    "basic-auth",
{% if errorpages_enabled == "true" %}
    "errorpages",
{% endif %}
  ]

  [http.middlewares.chain-oauth.chain]
    middlewares = [
    "secure-headers",
    "rate-limit",
{% if oauth_enabled == "true" %}
    "oauth",
{% endif %}
{% if errorpages_enabled == "true" %}
    "errorpages",
{% endif %}
  ]